/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #010101;
}

body {
    font-size: 0.9em;
    line-height: 1.4;
    background-color: #ebebeb;
    color: #010101;
}

html, 
body {
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Header specifics
 */

header {
    top: 0;
    height: 135px;
    background-color: #3c3c3c;
    color: white;
    font-size: 0.9em;
    border-bottom: 1px solid white;

    -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.25);
}

header .inner-header {
    margin: 0 auto;
    width: 1170px;
}

header .inner-header .logotype {
    float: left;
    width: 200px;
    height: 135px;
}

header .inner-header .links {
    float: left;
    width: 970px;
    height: 135px;
}

header .inner-header .links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 135px;
    width: 970px;
}

header .inner-header .links li {
    float: left;

    height: 85px;
    width: 160px;

    padding-top: 35px;
    padding-bottom: 15px;
    padding-right: 1px;

    border-left: 1px #646666 solid;

    text-align: center;
}

header .inner-header .links li:first-child {
    border-left: none;
}

header .inner-header .links li:hover,
header .inner-header .links li.active {
    background-color: #646666;
    cursor: pointer;
}

/*
 * menu login
 */
header .inner-header .links li.login {
	
}

header .inner-header .links li.login div.header {

}

header .inner-header .links li.login div.header img.image{
	width:40px;
	height:40px;
	border:1px solid #646666;
}
 
 
/*
 * Fixed header
 */

.fixedheader {
    top: 0;
    width: 100%;
    background-color: black;
    height: 40px;
    visibility: hidden;
    position: fixed;

    background-color: #3c3c3c;
    color: white;

    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.25);
}

.fixedheader .inner-fixed {
    margin: 0 auto;
    width: 1170px;
    height: 40px;
}

.fixedheader .inner-fixed .logotype {
    width: 150px;
    float: left;
    height: 30px;
}

.fixedheader .inner-fixed .links {
    width: 1020px;
    float: left;
    height: 30px;
}

.fixedheader .inner-fixed .links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 135px;
    width: 970px;
}

.fixedheader .inner-fixed .links li {
    float: left;

    height: 30px;
    width: 140px;
    padding-top: 10px;

    border-left: 1px #646666 solid;

    text-align: center;
}

.fixedheader .inner-fixed .links li:first-child {
    border-left: none;
}

.fixedheader .inner-fixed .links li:hover,
.fixedheader .inner-fixed .links li.active {
    background-color: #646666;
    cursor: pointer;
}

/*
 * Example menu-icon
 */

 .links i.icon-example {
    display: block;
    width: 27px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-image: url(/img/glyphicons/glyphicons_001_leaf.png);
    background-size: 100%;
    background-repeat: no-repeat;
 }

/*
 * main content
 */

.wrapper {
    min-height: 100%;
    
}

.wrapper .main {
    overflow: auto;
    padding-bottom: 150px; /* must be same height as the footer */
    width: 1170px;
    margin: 0 auto;
    margin-top: 35px;
} 

/*
 * boxes
 */

.span1 {
    float: left;
    width: 340px;
    padding: 15px;
    margin-right: 20px;
    background-color: white;
    border-bottom: 2px solid #dddddd;
}

/*
 * sidebar
 */

.sidebar {
    float: left;
    width: 360px;
    padding: 15px;
    background-color: white;
    border-bottom: 2px solid #dddddd;
}


/*
 * Popup
 */
#popup {
	width:100%;
	min-height:100%;
	position: absolute;
	z-index:100;
	background: rgba(0, 0, 0, 0.7);
	font-family: Verdana;
}

#popup .container {
	width:600px;
	margin:auto;
	margin-top:30px;
}
/*
 * Popup form
 */
#popup input[type=text], #popup input[type=password] {
	width:250px;
	padding: 1px 5px;
	display:block;
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#popup .close {
	background-image:url(/img/glyphicons/closepopup.png);
	width:26px;
	height:26px;
	cursor:pointer;
	float:right;
}

#popup .header {
	font-family:Verdana;
	font-size:1.4em;
	background-color:#3C3C3C;
	color:white;
	padding:15px;
	height:26px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#popup .content {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color:#EBEBEB;
	padding:15px;
	min-height:400px;
}

#popup .loading {
	display:block;
	margin:auto;
	margin-top:20px;
	width:50px;
	height:50px;
}

#popup  textarea, #popup textarea {
	padding: 1px 5px;
	display:block;
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#popup  label {
	font-style:italic;
	font-family:Verdana;
}

#popup div.error {
	color:red;
	margin: 5px 0px 5px -4px;
}

button, a.button {
	color:white;
	background-color:#555;
	padding:5px 5px;
	font-family:Verdana;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:none;
	text-decoration:none;
}

button:hover, button.hovered, a.button:hover, a.button.hovered {
	background-color:#777;
}



/*
 * footer
 */

footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */

    height: 149px;
    width: 100%;
    clear:both;


    
    border-top: 1px solid #a4a4a4;

    -webkit-box-shadow: 0px -1px 1px white;
    -moz-box-shadow:    0px -1px 1px white;
    box-shadow:         0px -1px 1px white;
} 

footer .inner-footer {
    width: 1170px;
    margin: 0 auto;
    height: 114px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*page styles */
#BoxOverblick{
    border-color: black;
    border-radius: 10px;
    padding: 0px;
    background-color: #000000;
    width: 1170px;
    height: 200px;
    opacity: 0.75;
    

}
#innerpicOverblick{
    float:left;
    top: 5px;
    width: 200px;
    height: 200px;
    margin-left: 6px;
    margin-top: 6px;
    
}

#innerOverblickname{
    color: white;
    margin-top: 6px;
    float: left;
    font-size: 32px;
    margin-left: -300px;

}
#Overblickinfo{
    color:black;
    width:300px;
    height: 140px;
    background-color: #000000;
    z-index: 9002;
    margin-top: 54px;
    opacity: 0.75;
    float: left;
    border-radius: 10px;

}
    #Overblickinfo ul{
    
list-style-type: none;
margin:0;
padding: 0;
border:0;

}

    #Overblickinfo li{

color: black;
border: 1px solid gray;
border-style: outset;
margin: 2px;
padding: 5px;
border-radius: 5px;
border-width: 2px;
background-color: white;
}

#innerOverblickLink1{
    height: 30px;
    width: 30px;
    margin-right: 6px;
    margin-top: 6px;
    float:right;   
    border:2px solid gray;  
    background-image: url(/img/Untitled2.png);
}
#innerOverblickLink2{
   
    height: 30px;
    width: 30px;
    margin-right: 6px;
    margin-top: 6px;
    float:right;
    border:2px solid gray;
    background-image: url(/img/Untitled.png);

}

#BoxSenAktiv{
    margin-top: 6px;
    border-color: gray;
    border-radius: 10px;
    padding: 0px;
    background-color: #3C3C3C;
    width: 300px;
    height: 200px;
    float: right;

}

#innercontainerSen{
    margin-left: 12px;
    margin-top:76px;
   
    opacity: 0.8;
    border-radius:2px ;
    width:275px;
    height:0px;
    z-index: 9002;
    padding: 0px;
    background-color:white;

}

#innercontainerSenHeader{
    margin-top:6px;
    margin-left: 12px;
    float:left;
    width:275px;
    height: 64px;/*Ska vara 64*/
    background-image: url(/img/SenasteAktivitet.png);
    
}
/*Flöde*/

#Flodet{

    width: 275px;   
    
    padding: 2px;
    z-index: 9003;
    background-color: #3C3C3C;    
    float:top;
    margin-top: 1px;

}

#Flodet ul{
    
list-style-type: none;
margin:0;
padding: 0;
border:0;

}

#Flodet li{

color: black;
border: 1px solid gray;
border-style: outset;
margin: 2px;
padding: 5px;
border-radius: 5px;
border-width: 2px;
background-color: white;
}